{#
 # Detail View Template – Default
 # ----------------------------
 #
 # This template gets loaded whenever the Detail Router falls back to the default variant.
 #
-#}

{% block view_header %}{% endblock %}

<article id="article">
  {% block view_article %}
    <div class="bg-warmGray-50 py-20 lg:py-28">
      {# Title #}
      {% embed "_components/section" with {
        entry: entry,
        options: {
          id: "title"
        }
      } only %}
        {% block content %}
          {% embed "_components/container" with { entry: entry } only %}
            {% block content %}
              {% embed "_components/text" with { entry: entry } only %}
                {% block content %}
                  <h1 class="headline--h2"><strong>{{ entry.title }}</strong></h1>
                {% endblock %}
              {% endembed %}
            {% endblock %}
          {% endembed %}
        {% endblock %}
      {% endembed %}

      {# Content builder #}
      {% if entry.contentBuilder ??? false %}
        {% include "_blocks/content-builder/_router" with {
          self: entry.contentBuilder,
        } %}
      {% endif %}
    {% endblock %}
  </div>
</article>

{% block view_footer %}{% endblock %}
