html,
body {
  hyphens: auto;
  scroll-behavior: smooth;
  scroll-padding-top: calc(theme("width.28") - 1px);

  @screen lg {
    scroll-padding-top: calc(theme("width.44") - 1px);
  }
}

body {
  overflow-y: scroll;
}

::selection {
  background: theme("colors.red.600");
  color: theme("colors.white");
}

b,
strong {
  font-weight: theme("fontWeight.normal");
}

[x-cloak] {
  display: none !important;
}
