html,
body {
  scroll-behavior: smooth;
  scroll-padding-top: theme("width.28");

  @screen lg {
    scroll-padding-top: theme("width.44");
  }
}

body {
  overflow-y: scroll;
}

::selection {
  background: theme("colors.red.600");
  color: theme("colors.white");
}

b,
strong {
  font-weight: theme("fontWeight.normal");
}

[x-cloak] {
  display: none !important;
}
