@font-face {
  font-family: "basier_square_mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Basier Square Mono"), local("Basier Square Mono Regular"),
    url("../fonts/basiersquaremono/basiersquaremono-regular-webfont.woff2")
      format("woff2"),
    url("../fonts/basiersquaremono/basiersquaremono-regular-webfont.woff")
      format("woff"),
    url("../fonts/basiersquaremono/basiersquaremono-regular-webfont.ttf")
      format("truetype");
}

@font-face {
  font-family: "neue-haas-grotesk-display";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/neuehaas/font.woff2") format("woff2"),
    url("../fonts/neuehaas/font.woff") format("woff");
}
