@font-face {
  font-family: "basier_square_mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Basier Square Mono"), local("Basier Square Mono Regular"),
    url("../fonts/basiersquaremono/basiersquaremono-regular-webfont.woff2")
      format("woff2"),
    url("../fonts/basiersquaremono/basiersquaremono-regular-webfont.woff")
      format("woff"),
    url("../fonts/basiersquaremono/basiersquaremono-regular-webfont.ttf")
      format("truetype");
}

/* almarai-300 - arabic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Almarai";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/almarai-v12-arabic/almarai-v12-arabic-300.woff2")
      format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/almarai-v12-arabic/almarai-v12-arabic-300.ttf")
      format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
