.project__body {
  & :is(h2, h3, h4, h5, h6) {
    @apply text-red-600;
  }
}

.project-slider {
  clip-path: inset(0 round theme("width.3"));

  @screen lg {
    clip-path: inset(0 round theme("width.4"));
  }

  & .swiper-slide-active,
  & .swiper-slide-duplicate-active {
    opacity: 1;
  }
}
