.richtext {
  /* Inline elements */
  & :is(p, address, pre) {
    @apply my-6;
    @apply sm:my-8;
  }

  & hr {
    @apply my-8;
    @apply lg:my-12;
  }

  & blockquote {
    @apply my-8;
    @apply lg:my-12;
  }

  /* Headlines */
  & h1,
  & .headline--h1 {
    @apply mt-4 mb-6;
    @apply sm:mt-6 sm:mb-8;
    @apply lg:mb-10;
  }

  & h2,
  & .headline--h2 {
    @apply my-8;
    @apply sm:my-10;
  }

  & h3,
  & .headline--h3 {
    @apply my-8;
    @apply sm:my-10;
  }

  & h4,
  & .headline--h4 {
    @apply mt-6;
    @apply sm:mt-8;

    & + :is(p, address) {
      margin-top: 0;
    }
  }

  & h5,
  & .headline--h5 {
    @apply mt-4 mb-2;
    @apply sm:mt-6;
  }

  & h6,
  & .headline--h6 {
    @apply mt-4 mb-2;
    @apply sm:mt-6;
  }

  /* Lists */
  & ul,
  & ol {
    @apply my-6;
    @apply sm:my-8;

    & li {
      &:not(:last-of-type) {
        @apply mb-2;
        @apply sm:mb-2;
      }
    }

    /* Nested lists */
    & ul,
    & ol {
      @apply mt-2 mb-0;
      @apply sm:mt-2 sm:mb-0;
    }
  }

  /* General */
  &:not(.richtext--keep-top-spacing) > :first-child {
    margin-top: 0;
  }

  &:not(.richtext--keep-bottom-spacing) > :last-child {
    margin-bottom: 0;
  }
}
