:root {
  --list-bullet-size: 0.4em;
}

.richtext {
  /* General list */
  & ul,
  & ol {
    @apply pl-8 sm:pl-10 lg:pl-12;

    & li {
      clear: left;

      /* Bullet point / counter / badge */
      &::before {
        content: "";
        float: left;
        @apply -ml-8 sm:-ml-10 lg:-ml-12;
      }

      & p:last-of-type {
        padding: 0;
      }
    }
  }

  /* Bullet point */
  & ul:not(.highlight-list) li::before {
    @apply bg-gray-400;
    width: var(--list-bullet-size);
    height: var(--list-bullet-size);
    /* magic number, based on the bullet point dimensions and font-size */
    margin-top: 0.58em;
  }

  /* sub list bullet point is identical to main bullet point here
  ul:not(.highlight-list) li ul li::before {
  } */

  /* Highlight list */
  & ul.highlight-list {
    @apply pl-11 sm:pl-14 lg:pl-14;

    & li {
      @apply text-lg sm:text-xl;

      & :is(strong, mark) {
        @apply text-base sm:text-lg;
      }

      &::before {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 31.05 31.05'%3E%3Cg data-name='Ebene 2'%3E%3Cg data-name='Ebene 1'%3E%3Cpath d='m22 15.53-2.83 3.6h-.36l2.08-3.6-2.08-3.61h.36z' style='fill:%23e63209'/%3E%3Cpath style='fill:none;stroke:%23e63209;stroke-miterlimit:10' d='M20.86 15.53H9.1'/%3E%3Ccircle cx='15.52' cy='15.53' r='15.03' style='fill:none;stroke:%23e63209;stroke-miterlimit:10'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        @apply w-6 h-6 sm:w-8 sm:h-8 -ml-11 sm:-ml-14 lg:-ml-14;
      }
    }
  }

  /* Counter */
  & ol {
    counter-reset: item;

    & li {
      &::before {
        content: counter(item) ".";
        counter-increment: item;

        @apply text-gray-500 font-normal font-mono tracking-normal;
      }
    }
  }

  /* Sub ol */
  & ol li ol {
    /* Counter */
    & li::before {
      content: counters(item, ".");
    }
  }
}
