@import "./richtext-spacing.css";
@import "./richtext-list.css";

.richtext {
  /* Inline elements */
  & :is(p, address, ul, ol, blockquote) {
    @apply text-base tracking-wider;
    @apply sm:text-lg;
  }

  & :is(strong, mark, small) {
    @apply font-normal font-mono tracking-normal;
  }

  & mark {
    background-color: transparent;
    color: inherit;
  }

  & small {
    @apply text-xs sm:text-sm;
  }

  & em {
    font-style: italic;
  }

  & address {
    font-style: normal;
  }

  & a {
    @apply transition-colors text-red-600;

    &:hover,
    &:focus {
      @apply text-red-400;
    }
  }

  & abbr {
    text-decoration: none;
    border-bottom: 1px dashed currentColor;
    cursor: help;
  }

  & hr {
    @apply bg-gray-300;
    height: 2px;
    border: 0 none;
  }

  & blockquote {
    @apply border-l-4 border-red-600 pl-4 py-1;
  }

  & code {
    @apply text-base bg-gray-100 p-1 rounded-md;
  }

  & pre {
    @apply overflow-x-auto bg-gray-100 rounded-md py-3 px-4 text-base;

    & code {
      padding: 0;
      background-color: transparent;
      color: inherit;
      font-size: inherit;
      font-family: inherit;
      line-height: inherit;
    }
  }

  /* Headlines */
  & :is(h1, .headline--h1) {
    @apply headline--h1;
  }

  & :is(h2, .headline--h2) {
    @apply headline--h2;
  }

  & :is(h3, .headline--h3) {
    @apply headline--h3;
  }

  & :is(h4, .headline--h4) {
    @apply headline--h4;
  }

  & :is(h5, .headline--h5) {
    @apply headline--h5;
  }

  & :is(h6, .headline--h6) {
    @apply headline--h6;
  }

  /* Links in headlines */
  &
    :is(h1, .headline--h1, h2, .headline--h2, h3, .headline--h3, h4, .headline--h4, h5, .headline--h5, h6, .headline--h6)
    a {
    @apply text-current;
  }
}

/* Special cases */
:is(.impressum, .datenschutz) .richtext h3 {
  @apply text-red-600;
}

:is(.impressum, .datenschutz) .richtext a {
  color: currentColor;

  &:hover,
  &:focus {
    @apply text-red-600;
  }
}
