<header class="fixed left-0 right-0 top-0 w-full bg-warmGray-50 h-28 lg:h-44">
  {% embed "_components/container" with {
    options: {
      classes: ["h-full"]
    }
  } only %}
    {% block content %}
      <div class="flex items-center justify-between h-full">
        {# Logo #}
        <a href="{{ siteUrl }}" class="h-full py-5 lg:py-8 flex-shrink-0 mr-6">
          <span class="sr-only">{{ siteName }}</span>
          {{ svg("@root/assets/img/svg-sprite/logo.svg")|attr({ class: 'w-auto h-full' }) }}
        </a>

        {# Menu toggle #}
        <div class="flex-shrink-0 lg:hidden">X</div>

        {# Desktop nav #}
        <div class="flex-shrink-0 hidden lg:block">Nav</div>
      </div>
    {% endblock %}
  {% endembed %}
</header>
